<div class="biu-nav-email"
    style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to top, #6190E8 0%, #A7BFE8 100%);;border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        Hi! 亲爱的<%= locals.username %>同学：
    </h3>
    <p style="padding-left: 20px;">
        恭喜你通过面试、现被<%= locals.department %>录取，希望在未来一年内，计协能与你共创辉煌、请先加入总群，然后联系对应部长、拉你进入部门群。
    </p>
    <p style="text-align: center;">
      <a href="https://jq.qq.com/?_wv=1027&k=034sc6Mv">点击加入总群聊（密码SUSE-CTA）</a>
    </p>
    <p style="margin-top: 40px;text-align: right;">
        <%= locals.sign %>
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div>