<div class="biu-nav-email"
    style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to top, #6190E8 0%, #A7BFE8 100%);;border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        Hi! 亲爱的<%= locals.username %>同学：
    </h3>
    <p style="padding-left: 20px;">
      恭喜你通过初审，祝贺你能面试成功，准备好自我介绍，给面试官一个好的印象（这个占分较大哦）。请加群继续进行后续操作：密码（CTA）
    </p>
    <p style="text-align: center;">
      <a href="https://jq.qq.com/?_wv=1027&k=beODnIK5">点击加入群聊</a>
    </p>
    <p style="margin-top: 40px;text-align: right;">
        <%= locals.sign %>
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div>